.intro {
    height: 100px;
    font-family: 'Roboto',sans-serif;
    color: white;
    margin: auto;
    border-style: solid;
    background-color: #1F2937;
    border-color: blue;

}

.container-one {
    display: flex;
    border-color: yellow;
    border-style: solid;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 10px 10px 10px 10px;

}

.links {
    display: flex;
    justify-content: right;
}
.intro-info {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
}

.intro-info, p {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    justify-content: center;
}



